@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora';
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #EEE;
}

#wrapper {
  min-height: 100%;
  max-width: 100%;
  position: relative;
}

.container {
  min-height: 100%;
  position: relative;
}

.topo {
  background-color: #5b3971;
  margin-right: auto;
  margin-left: auto;
}

.body-content {
  padding-bottom: 35vh;
}

header {
  height: 30%;
  display: flex;
  background-color: #5b3971;
}

.logo {
  width: 150px;
  height: auto;
  margin-left: 8%;
  margin-top: 1%;
}

.logo img {
  width: 150px;
  height: auto;
  min-width: 20%;
  min-height: 20%;
}

.btnMenu {
  background-color: #f2d022;
  width: 180px;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  border: none;
  color: #5c0071;
  cursor: pointer;
  margin-left: 65vw;
  margin-top: 5vh;
}

.btnHamburger {
  display: none;
  color: #f2d022;
  margin-right: 3%;
}

.menu {
  width: 70%;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125em;
  margin-left: 40px;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 60vw;
}

.menu ul a {
  text-decoration: none;
  color: #f2d022;
  font-size: 28px;
  font-weight: 500;
}

.menu ul li:hover {
  color: #eee;
  transform: scale(1.15);
}

.carrossel {
  width: 80vw;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.foto1,.foto3 {
  width: 30%;
}

.foto2 {
  width: 30%;
  margin-left: 0;
  margin-right: 0;
}

.carrossel img {
  height: 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.texto {
  width: 70vw;
  color: #130901;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.texto h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 6%;
  font-weight: bold;
}

.texto h2 {
  font-size: 24px;
  text-align: center;
  margin: 3% auto;
}

.promocao {
  background: rgb(91, 57, 113);
  background: linear-gradient(
    90deg,
    rgba(91, 57, 113, 1) 29%,
    rgba(164, 108, 200, 1) 59%,
    rgba(91, 57, 113, 1) 88%
  );
  width: 100%;
  height: 10em;
  margin: 5% auto 0;
}

.promocao h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #f2d022;
  padding-top: 2em;
}

.pacote {
  width: 100%;
  height: 17vh;
  margin: 1% auto 12%;
  text-align: center;
}

.pacoteDiv {
  width: 75vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.pacoteColuna {
  width: 30vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.pacote h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.pacoteColuna p {
  margin: 1.5em auto;
  font-weight: bold;
  font-size: 22px;
}

.pacoteColuna ul {
  list-style-type: none;
  padding: 0;
}

.pacoteColuna li {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

footer {
  width: 100%;
  height: 30vh;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #5b3971;
  font-weight: bold;
  display: flex;
}

.socialMedia {
  width: 18vw;
  height: 16%;
  margin: 5% 0;
  display: flex;
}

.socialMedia a {
  width: 100%;
  text-decoration: none;
  color: #f2d022;
  font-size: 20px;
  display: flex;
}

.socialMedia p {
  width: 80%;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #f2d022;
}

.fa-brands {
  font-size: 2em;
  color: #f2d022;
  margin: 0 5%;
  justify-content: center;
}

.mapa {
  width: 60vw;
  height: 250px;
  align-items: center;
  margin: 10px 350px 15px 50px;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.footerText {
  color: #f2d022;
  font-size: 1em;
  position: absolute;
  bottom: 6px;
  right: 2px;
  margin: auto 2%;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 15vw;
    height: auto;
    margin-top: 20%;
  }

  .btnMenu {
    width: 120px;
    height: 20px;
    font-size: 16px;
    margin-left: 30vw;
    margin-top: 5vh;
  }

  .menu ul li {
    font-size: 20px;
  }

  .menu ul a {
    font-size: 20px;
  }

  .texto h2 {
    font-size: 18px;
  }

  .texto h3 {
    font-size: 16px;
  }

  .promocao h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #f2d022;
    padding-top: 2.5em;
  }

  .pacote h2 {
    font-size: 20px;
  }

  .pacote p {
    font-size: 16px;
  }

  .pacoteColuna li {
    font-size: 16px;
  }

  .socialMedia a p {
    font-size: 16px;
  }

  .fa-brands {
    font-size: 16px;
  }

  .mapa {
    width: 100%;
    height: 200px;
    margin: 3% 3% 0;
  }

  .footerText {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px){
    .menu {
      display: none;
    }
  
    .menu ul {
      display: block;
      width: 20vw;
      justify-content: center;
    }
  
    .menu ul li {
      text-align: center;
      font-size: 14px;
      padding: 5px 0;
    }
    
    .menu ul a {
      font-size: 14px;
    }
    
    .menu ul li:hover {
      color: white;
      transform: scale(1.15);
    }
  
    #menu.visible {
      display: block;
      width: 20vw;
      height: auto;
      justify-content: center;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
      position: absolute;
      top: 10.5vh;
      right: 3vw;
      z-index: 1;
      border-radius: 5px;
      background-color: #5b3971;
      cursor: pointer;
    }
  
    .btnHamburger {
      display: flex;
      cursor: pointer;
      justify-content: flex-end;
      margin: 3% 10% 3% 0;
    }
  
    .btnHamburger i {
      font-size: 32px;
    }
  
    .carrossel {
      position: relative;
      z-index: 0;
    }
  
    .promocao {
      height: 5em;
    }
  
    .promocao h2 {
      font-size: 20px;
      padding-top: 1.5em;
    }
  
    .pacote {
      padding: 1% auto 5%;
    }
  
    .pacote h2 {
      font-size: 16px;
    }
  
    .pacote p {
      font-size: 14px;
      margin: 1em auto;
    }
  
    .pacoteColuna li {
      font-size: 14px;
    }

    footer{
      display: block;
    }
    
    .colunaFooter{
      display: flex;
      width: 100%;
    }
    
    .socialMedia {
      width: 50px;
      flex-direction: row;
      font-size: 14px;
      margin: 5% auto;
    }
  
    .socialMedia p {
      display: none;
    }
  
    .mapa {
      width: 90%;
      height: 150px;
      margin: 0 auto;
    }

    .footerText{
      font-size: 8px;
      display: flex;
      justify-content: center;
    }
}

@media screen and (min-width: 551px) {
  .btnHamburger {
    display: none;
  }

  .menu {
    display: flex;
  }
}